<!DOCTYPE html>

<html lang="en">
        <head>
            <title>YelpCamp</title>
            <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
            <link href="/stylesheets/landing.css" rel="stylesheet" type="text/css">
        </head>
    <body>
    
        <div class= "container" id="landing-header">
           <h1>Welcome to YelpCamp!!!</h1>
            <a href="/index" class="btn btn-info">
                View all campgounds
            </a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>




    </body>

</html>